<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Trade</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/trade/update/{id}(id=${trade.tradeId})}" th:object="${trade}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of Trade, there are 2 buttons: Update data and Cancel to the Trade List
			 -->
			 <div class="form-floating mb-3">
				<label for="account">Moodys Rating</label>
				<input th:value =" ${trade.account}" type="text" class="form-control" id="account" placeholder="account" name ="account"   required="required">
				
			</div>
			<div class="form-floating mb-3">
				<label for="type">Sand Rating</label>
				<input   th:value="${trade.type}" type="text" class="form-control" id="type" placeholder="type" name ="type"  required="required">
			</div>
			<div class="form-floating mb-3">
				<label for="buyQuantity">Fitch Rating</label>
				<input th:value="${trade.buyQuantity}" type="text" class="form-control" id="buyQuantity" placeholder="buyQuantity" name ="buyQuantity"  required="required">
				
			</div>
			<div class="form-floating mb-3">
				<label for="sellQuantity">Order Number</label>
				<input th:value="${trade.sellQuantity}" type="number" class="form-control" id="sellQuantity" placeholder="sellQuantity" name ="sellQuantity"  required="required">
				
			</div>

			<div  class="mt-3">

				
				<input type="reset" class="btn btn-danger" value ="Cancel">
				<input type="submit" class="btn btn-primary" value ="Update Rating">
				
			</div>
		</form>
	</div>

</div>
</body>
</html>